_dir="/opt/zerohr/bakery"

# Check if the current directory is /opt/zerohr
if [ "$(pwd)" != "$_dir" ]; then
  echo "This directory is not $_dir. Exiting."
  exit 1
fi

# Use Nix Flakes for environment setup
use flake
